.heading{
    margin-top: 10%;
    display: flex;
    color: rgb(70, 7, 95);
    align-items: center;
    justify-content: center;
}
.quiz-set{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.name label{
    font-size: 1rem;
    font-weight: 700;
}
.msg{
    font-size: 1rem;
    font-weight: bold;
    color: red;
}
.btn button{
 border: none;
 outline: none;
 padding: 8px 8px;
 background-color: black;
 color: white;
}